#top-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: black;
    height: 100%;
    position: fixed;
    text-align: center;
}
li{
    height: 30px;
}
li a{
    display: block;
    color:white;
    text-decoration: none;
    padding: 20px;
    margin:20px
}
li a:active{
    background-color: gray;
    color: black;
}
li a:hover{
    background-color: gray;
}

#menu-icon{
    width: 50px;
    height: 50px;
    visibility: hidden;
}
#exit-menu-icon{
    width: 50px;
    height: 50px;
    visibility: hidden; 
}
#header-title{
    color: blueviolet;
    margin-left: 250px; 
}
#content{
    color: black;
    margin-left: 250px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}
.single-post{
    width: 300px;
    height: 350px;
    border: 1px solid red;
}
.button-post{
    float: right;
}

@media (max-width: 768px){
    #top-menu{
        visibility: hidden;
        margin-left: 50px;
        width: 100%;
    }
    #menu-icon{
        visibility: visible;
        display: block;
        position: fixed;
    }
    #exit-menu-icon{
        display: block;
        visibility: hidden;
        width:50px;
        height: 50px;
        display: block;
        position: fixed;
    }
    #header-title{
        margin-left: 60px;
    }
    #content{
        margin-left: 60px;
    }
}
@media (min-width: 769px) and (max-width:992px){
    #top-menu{
        visibility: hidden;
        margin-left: 50px;
        width: 100%;
    }
    #menu-icon{
        visibility: visible;
        display: block;
        position: fixed;
        z-index: 1;
    }
    #exit-menu-icon{
        display: block;
        visibility: hidden;
        width:50px;
        height: 50px;
        position: fixed;
    }
    #header-title{
        margin-left: 60px;
        margin-top: 20px;
    }
    #content{
        margin-left: 60px;
        margin-top: 20px;
    }
}